body {
    background-image: url("./img/yuvraj-singh-Ztkd0xd_kwY-unsplash.jpg");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center;  */
  }